<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Profile: Md. Aminul Islam</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style.css" /> 
	</head>
	
	<body>

		<div id="container">

			<div id="pageHeader">
			  
			   <div id="headrImage">
			   </div>
			   
			   <div id="headrInfo">
					<h1><span>Md. Aminul Islam</span></h1>
					<h2><span>Software Engineer</span></h2>
					<h3><span>Cell: +8801684273162</span></h3>
			   </div>
			   
			</div>
			
			<div id="containerText">
				<div id="explanation">
					<h3 class="conHeader"><span>Career Objective</span></h3>
					<p class="p1"><span>I am seeking a position where creativity, analytic ability and problem solving skills can be explored.</span></p>
				</div>
				<div id="ProfileInfo">
					<h3 class="conHeader"><span>Skills</span></h3>
				
					<table id="skilTable">
						<tr>
							<th>Operating System:</th> 
							<td>Windows, Linux.</td>
						</tr>
						<tr>
							<th>Language:</th>
							<td>C, C++, Java, Python, PHP, SAS, CSS, XML, HTML, JavaScript.</td>
						</tr>
						<tr>
							<th>Database:</th>
							<td>MySql, MsSql</td>
						</tr>
						<tr>
							<th>Framework:</th>
							<td>Codeigniter, Django</td>
						</tr>
						<tr>
							<th>IDE:</th>
							<td>NetBeans, Eclipse, CodeBlocks, Visual Studio</td>
						</tr>
						<tr>
							<th>SVN:</th>
							<td>Git</td>
						</tr>
					</table>
					
				</div>
				<div id="benefits">
					<h3 class="conHeader"><span>Project Development Overview</span></h3>
					<h2 class="subHeader"><span>Project with C/C++:</span></h2>
					<ul><li>Shooting Game Development using graphics library.</li></ul>
					<h2 class="subHeader"><span>Project with Java:</span></h2>
					<ul><li>Developed push-pull and subscription services for mobile phone operator with Java, Mysql.</li></ul>
					<ul><li>Developed several VAS application for deliver SMS, vas content and data process.</li></ul>
					<ul><li>Developed IVR services for mobile phone operator with Asterisk, PHP, HTML, Mysql.</li></ul>
					<h2 class="subHeader"><span>Project with PHP:</span></h2>
					<ul><li>Website Development with PHP(Codignighter), HTML, CSS, and JavaScript, JQuery, Ajax.</li></ul>
					<h2 class="subHeader"><span>Project with Python:</span></h2>
					<ul><li>Website Development with Python(Django), HTML, CSS, and JavaScript, JQuery, Ajax.</li></ul>
					
				</div>
				<div id="explanation">
					<h3 class="conHeader"><span>Employment History</span></h3>
					<h2 class="subHeader"><span>Total Year of Experience : 3 year 8 month</span></h2>
					<p class="p1"><span>Statistical Programmer(October, 2015 to Present)</span></p>
					<p class="p2"><span>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</span></p>
				</div>

				

				<div id="footer">
					Copyright 20017 Md. Aminul Islam
				</div>

			</div>

			<div id="linkList">
				<div id="rightTopBar">
					<div class="lselect">
						<ul>
							<li><a href="">About Me</a></li>
							<li><a href="">My Works</a></li>
							<li><a href="">Linked In</a></li>
							<li><a href="">Education</a></li>
							<li><a href="">Extra Curriculum</a></li>
						</ul>
					</div>
				</div>
				<div id="rightBottomBar">
					<div class="lselect">
						<h3 class="archives"><span>Programming Skills</span></h3>
						<ul>
							<li><a href="">ACM UVA</a></li>
							<li><a href="">ACM Codeforces</a></li>
						</ul>
					</div>
				</div>
				
			</div>

		</div>

	</body>
</html>
